body {
    background-color: black; /* Background color */
    /* color: white; Text color */
}

.navbar {
    border: 2px solid black; /* Border color */
    border-radius: 15px; /* Border radius */
    background-color:rgba(192, 192, 192, 0.5)
    ; /* Change background color if needed */
    margin: 0 auto;
    width: 90%;

}
